		.principal{
			background-color:#5DADE2;
			width:50%;
			height:auto;
		 	margin:0 auto; 
			border-style:single;
			border-color:black;
			border-width:thick;		
			margin-top:200px;			
		}	
		
		#contenido2{
		width:80%;
		height:100%;
		margin:auto;
		overflow:hidden;
		}	