*{
margin:0px;
padding:0px;	
}
#encabezado{
position:fixed;	
width:100%;
}
#margen1{
width:100%;
height:70px;
background-color:#21618C;	
position:relative;
}

#titulo{
width:100%;
text-align:center;	
 padding-top:1px; 
opacity:0.5;
color:white;	
}

#margen2{
width:100%;
height:50px;
background-color:#D5D8DC;
position:relative;
}

